

  .hype-text-shadow{
    text-shadow: 
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;  
 } 
 
 .hype-text-shadow-white{
     text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;  
  } 

  .hype-shadow-white {
    box-shadow: 0 0 5px white
  }

.hype-unselectable {
        -webkit-user-select: none; 
        user-select: none;
}

.hype-hover-size:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}

.hype-pointer {
    cursor: pointer;
}

.hype-vw-100{
    width: 100vw;
}

.xdebug-error {
  color: black !important;
}